
    @media (max-width:992px){
   
   body{
    width:100%;
    margin: 0;
    overflow-x: hidden;
   }  
   .about-container{
    margin-left:20px;
    max-width: 950px !important;
}
}
@media (max-width:575px)
{
    .about-container{
        overflow-x: hidden;
        width:100%;
        margin:0 !important;
    }
    .left-section {

       display:inline-block;
       margin:0px;
       height:auto;

    }
    .logo-heading{
        margin-top: -50px;
    }
    .right-paragraph{
            margin-top:-170px;

    }

} 