@media(max-width:991px){
   
    .about-container{
         margin-left:0px;
         margin: 0;
         overflow-x: hidden;
         width:100%;
    }
    .right-paragraph{
        margin-left:30px;
    }
}
